h1 {
    color: #53f360;
    font-family: 'Playfair Display', serif;
    padding-left: 290px;
    font-size: 36pt;
}
h2 {
    color:  #0fc2c288 ;
    font-size: 20pt;

}
h6 {color:  #0fc2c288 ;
    font-size: 20pt;
    padding-left: 300px;


}
h5 { padding-left: 300px;


}
h3 { 
    color: aqua;
    padding-right: 10px
    


}

    